# (i) Used cars data (Ghaziabad)

In [46]:
import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
from selenium.common.exceptions import ElementNotInteractableException, StaleElementReferenceException, NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

driver = webdriver.Chrome(r"C:/Users/acer/Downloads/Compressed/chromedriver_win32_2/chromedriver.exe")
driver.implicitly_wait(0.5)


# URL
url = 'https://www.cars24.com/buy-used-car/?sort=P&storeCityId=132&pinId=201001'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [47]:
# 1500 time we scroll down by 10000 in order to generate more images on the website
for i in range(1500):
    driver.execute_script("window.scrollBy(0, 10000)")

In [48]:
# Make empty lists  
Brand=[]
Owner=[]
kilometers=[]
Transmission=[]
Fuel_type=[]
Model=[]
Price=[]



# Extracting Brand from xpath
try:
    for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
        Brand.append(i.text)
except NoSuchElementException as e:
    Brand.append("_")
        
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[2]"):
        Owner.append(i.text)
except NoSuchElementException as e:
    Owner.append('-')
    
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[1]"):
        kilometers.append(i.text)
except NoSuchElementException as e:
    kilometers.append('-')
    
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='cvakB']/span"):
        Transmission.append(i.text)
except NoSuchElementException as e:
    Transmission.append('-')
    
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[3]"):
        Fuel_type.append(i.text)
except NoSuchElementException as e:
    Fuel_type.append('-')
    
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='cvakB']"):
        Model.append(i.text)
except NoSuchElementException as e:
    Model.append('-')        
        
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_19zc5']/div[2]"):
        Price.append(i.text)
except NoSuchElementException as e:
    Price.append('-')

In [49]:
# Make a DataFrame
Car=pd.DataFrame({})
Car["Brand"] = Brand
Car["Owner"] = Owner
Car["kilometers"] = kilometers
Car["Fuel"] = Fuel_type
Car["Transmission"] = Transmission
Car["Model"] = Model
Car["Price"] = Price
Car

,Brand,Owner,kilometers,Fuel,Transmission,Model,Price
0,2012 Maruti Swift Dzire,1st Owner,"2,13,186 km",Diesel,Manual,VDI BS IV Manual,"₹2,63,299"
1,2012 Maruti Swift,1st Owner,"38,061 km",Diesel,Manual,VDI Manual,"₹2,92,299"
2,2012 Maruti Swift,1st Owner,"31,084 km",Diesel,Manual,VDI Manual,"₹2,82,099"
3,2012 Maruti Swift,1st Owner,"26,568 km",Diesel,Manual,VDI Manual,"₹2,89,099"
4,2017 Nissan Terrano,1st Owner,"49,610 km",Diesel,Automatic,XV PREMIUM 110 PS AMT DEISEL Automatic,"₹7,73,899"
...,...,...,...,...,...,...,...
658,2012 Hyundai i10,2nd Owner,"93,144 km",Petrol + CNG,Manual,MAGNA 1.2 KAPPA2 Manual,"₹2,57,499"
659,2014 Hyundai Grand i10,2nd Owner,"1,12,190 km",Petrol,Manual,ASTA 1.2 KAPPA VTVT OPT Manual,"₹4,00,299"
660,2019 Mahindra Scorpio,1st Owner,"18,656 km",Diesel,Manual,S7 140 BHP 2WD Manual,"₹13,27,299"
661,2017 Hyundai Creta,1st Owner,"90,615 km",Diesel,Manual,1.4 E PLUS CRDI Manual,"₹7,81,799"
662,2020 KIA SELTOS,1st Owner,"22,066 km",Petrol,Manual,HTK 1.5 PETROL Manual,"₹11,15,099"

# (ii) Used cars data (Bengaluru)

In [51]:
driver = webdriver.Chrome(r"C:/Users/acer/Downloads/Compressed/chromedriver_win32_2/chromedriver.exe")
driver.implicitly_wait(0.5)
 
    
url = 'https://www.cars24.com/buy-used-car?sort=P&storeCityId=4709&pinId=560001'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [52]:
# 1500 time we scroll down by 10000 in order to generate more images on the website
for i in range(1500):
    driver.execute_script("window.scrollBy(0, 10000)")

In [53]:
# Extracting Brand from xpath
try:
    for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
        Brand.append(i.text)
except NoSuchElementException as e:
    Brand.append("_")
        
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[2]"):
        Owner.append(i.text)
except NoSuchElementException as e:
    Owner.append('-')
    
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[1]"):
        kilometers.append(i.text)
except NoSuchElementException as e:
    kilometers.append('-')
    
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='cvakB']/span"):
        Transmission.append(i.text)
except NoSuchElementException as e:
    Transmission.append('-')
    
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[3]"):
        Fuel_type.append(i.text)
except NoSuchElementException as e:
    Fuel_type.append('-')
    
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='cvakB']"):
        Model.append(i.text)
except NoSuchElementException as e:
    Model.append('-')        
        
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_19zc5']/div[2]"):
        Price.append(i.text)
except NoSuchElementException as e:
    Price.append('-')

In [55]:
# Make a DataFrame
Car=pd.DataFrame({})
Car["Brand"] = Brand
Car["Owner"] = Owner
Car["kilometers"] = kilometers
Car["Fuel"] = Fuel_type
Car["Transmission"] = Transmission
Car["Model"] = Model
Car["Price"] = Price
Car

,Brand,Owner,kilometers,Fuel,Transmission,Model,Price
0,2012 Maruti Swift Dzire,1st Owner,"2,13,186 km",Diesel,Manual,VDI BS IV Manual,"₹2,63,299"
1,2012 Maruti Swift,1st Owner,"38,061 km",Diesel,Manual,VDI Manual,"₹2,92,299"
2,2012 Maruti Swift,1st Owner,"31,084 km",Diesel,Manual,VDI Manual,"₹2,82,099"
3,2012 Maruti Swift,1st Owner,"26,568 km",Diesel,Manual,VDI Manual,"₹2,89,099"
4,2017 Nissan Terrano,1st Owner,"49,610 km",Diesel,Automatic,XV PREMIUM 110 PS AMT DEISEL Automatic,"₹7,73,899"
...,...,...,...,...,...,...,...
1149,2017 Ford Ecosport,1st Owner,"26,280 km",Petrol,Manual,1.0 ECOBOOST TITANIUM OPT Manual,"₹8,58,599"
1150,2018 Hyundai NEW SANTRO,1st Owner,"48,619 km",Petrol,Manual,SPORTZ 1.1 Manual,"₹4,96,099"
1151,2014 Maruti Swift Dzire,1st Owner,"42,551 km",Petrol,Manual,VXI 1.2 BS IV Manual,"₹5,15,399"
1152,2018 Hyundai NEW SANTRO,2nd Owner,"26,071 km",Petrol,Automatic,1.1 SPORTS AMT Automatic,"₹5,32,099"
1153,2013 Maruti Wagon R 1.0,1st Owner,"41,074 km",Petrol,Manual,VXI Manual,"₹3,60,499"

# (iii) Used cars data (Hyderabad)

In [56]:
driver = webdriver.Chrome(r"C:/Users/acer/Downloads/Compressed/chromedriver_win32_2/chromedriver.exe")
driver.implicitly_wait(0.5)
 
    
url = 'https://www.cars24.com/buy-used-car?sort=P&storeCityId=3686&pinId=500001'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [57]:
# 1500 time we scroll down by 10000 in order to generate more images on the website
for i in range(1500):
    driver.execute_script("window.scrollBy(0, 10000)")

In [58]:
# Extracting Brand from xpath
try:
    for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
        Brand.append(i.text)
except NoSuchElementException as e:
    Brand.append("_")
        
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[2]"):
        Owner.append(i.text)
except NoSuchElementException as e:
    Owner.append('-')
    
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[1]"):
        kilometers.append(i.text)
except NoSuchElementException as e:
    kilometers.append('-')
    
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='cvakB']/span"):
        Transmission.append(i.text)
except NoSuchElementException as e:
    Transmission.append('-')
    
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[3]"):
        Fuel_type.append(i.text)
except NoSuchElementException as e:
    Fuel_type.append('-')
    
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='cvakB']"):
        Model.append(i.text)
except NoSuchElementException as e:
    Model.append('-')        
        
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_19zc5']/div[2]"):
        Price.append(i.text)
except NoSuchElementException as e:
    Price.append('-')

In [59]:
# Make a DataFrame
Car=pd.DataFrame({})
Car["Brand"] = Brand
Car["Owner"] = Owner
Car["kilometers"] = kilometers
Car["Fuel"] = Fuel_type
Car["Transmission"] = Transmission
Car["Model"] = Model
Car["Price"] = Price
Car

,Brand,Owner,kilometers,Fuel,Transmission,Model,Price
0,2012 Maruti Swift Dzire,1st Owner,"2,13,186 km",Diesel,Manual,VDI BS IV Manual,"₹2,63,299"
1,2012 Maruti Swift,1st Owner,"38,061 km",Diesel,Manual,VDI Manual,"₹2,92,299"
2,2012 Maruti Swift,1st Owner,"31,084 km",Diesel,Manual,VDI Manual,"₹2,82,099"
3,2012 Maruti Swift,1st Owner,"26,568 km",Diesel,Manual,VDI Manual,"₹2,89,099"
4,2017 Nissan Terrano,1st Owner,"49,610 km",Diesel,Automatic,XV PREMIUM 110 PS AMT DEISEL Automatic,"₹7,73,899"
...,...,...,...,...,...,...,...
1264,2018 Honda WR-V,1st Owner,"13,989 km",Petrol,Manual,1.2 i-VTEC VX MT Manual,"₹8,32,499"
1265,2017 Renault Kwid,1st Owner,"34,457 km",Petrol,,CLIMBER 1.0 AT,"₹4,33,499"
1266,2018 Maruti Vitara Brezza,2nd Owner,"88,052 km",Diesel,Automatic,ZDI AMT Automatic,"₹8,75,099"
1267,2013 Hyundai i10,1st Owner,"55,909 km",Petrol,Manual,MAGNA 1.1 IRDE2 Manual,"₹3,78,399"
1268,2019 Hyundai NEW SANTRO,1st Owner,"29,693 km",Petrol,Manual,ASTA 1.1 MT Manual,"₹5,33,199"

# (iv) Used cars data (New Delhi)

In [60]:
driver = webdriver.Chrome(r"C:/Users/acer/Downloads/Compressed/chromedriver_win32_2/chromedriver.exe")
driver.implicitly_wait(0.5)
 
    
url = 'https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [61]:
# 1500 time we scroll down by 10000 in order to generate more images on the website
for i in range(1500):
    driver.execute_script("window.scrollBy(0, 10000)")

In [62]:
# Extracting Brand from xpath
try:
    for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
        Brand.append(i.text)
except NoSuchElementException as e:
    Brand.append("_")
        
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[2]"):
        Owner.append(i.text)
except NoSuchElementException as e:
    Owner.append('-')
    
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[1]"):
        kilometers.append(i.text)
except NoSuchElementException as e:
    kilometers.append('-')
    
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='cvakB']/span"):
        Transmission.append(i.text)
except NoSuchElementException as e:
    Transmission.append('-')
    
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[3]"):
        Fuel_type.append(i.text)
except NoSuchElementException as e:
    Fuel_type.append('-')
    
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='cvakB']"):
        Model.append(i.text)
except NoSuchElementException as e:
    Model.append('-')        
        
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_19zc5']/div[2]"):
        Price.append(i.text)
except NoSuchElementException as e:
    Price.append('-')

In [63]:
# Make a DataFrame
Car=pd.DataFrame({})
Car["Brand"] = Brand
Car["Owner"] = Owner
Car["kilometers"] = kilometers
Car["Fuel"] = Fuel_type
Car["Transmission"] = Transmission
Car["Model"] = Model
Car["Price"] = Price
Car

,Brand,Owner,kilometers,Fuel,Transmission,Model,Price
0,2012 Maruti Swift Dzire,1st Owner,"2,13,186 km",Diesel,Manual,VDI BS IV Manual,"₹2,63,299"
1,2012 Maruti Swift,1st Owner,"38,061 km",Diesel,Manual,VDI Manual,"₹2,92,299"
2,2012 Maruti Swift,1st Owner,"31,084 km",Diesel,Manual,VDI Manual,"₹2,82,099"
3,2012 Maruti Swift,1st Owner,"26,568 km",Diesel,Manual,VDI Manual,"₹2,89,099"
4,2017 Nissan Terrano,1st Owner,"49,610 km",Diesel,Automatic,XV PREMIUM 110 PS AMT DEISEL Automatic,"₹7,73,899"
...,...,...,...,...,...,...,...
1934,2015 Hyundai Creta,1st Owner,"86,671 km",Diesel,Manual,1.6 SX (O) CRDI Manual,"₹7,84,199"
1935,2012 Hyundai i10,2nd Owner,"93,144 km",Petrol + CNG,Manual,MAGNA 1.2 KAPPA2 Manual,"₹2,57,499"
1936,2019 Mahindra Scorpio,1st Owner,"18,656 km",Diesel,Manual,S7 140 BHP 2WD Manual,"₹13,27,299"
1937,2017 Hyundai Creta,1st Owner,"90,615 km",Diesel,Manual,1.4 E PLUS CRDI Manual,"₹7,81,799"
1938,2020 KIA SELTOS,1st Owner,"22,066 km",Petrol,Manual,HTK 1.5 PETROL Manual,"₹11,15,099"

# (v) Used cars data (Noida)

In [67]:
driver = webdriver.Chrome(r"C:/Users/acer/Downloads/Compressed/chromedriver_win32_2/chromedriver.exe")
driver.implicitly_wait(0.5)
 
    
url = 'https://www.cars24.com/buy-used-car?sort=P&storeCityId=134&pinId=201301'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [68]:
# 1500 time we scroll down by 10000 in order to generate more images on the website
for i in range(1500):
    driver.execute_script("window.scrollBy(0, 10000)")

In [75]:
# Extracting Brand from xpath
try:
    for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
        Brand.append(i.text)
except NoSuchElementException as e:
    Brand.append("_")
        
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[2]"):
        Owner.append(i.text)
except NoSuchElementException as e:
    Owner.append('-')
    
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[1]"):
        kilometers.append(i.text)
except NoSuchElementException as e:
    kilometers.append('-')
    
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='cvakB']/span"):
        Transmission.append(i.text)
except NoSuchElementException as e:
    Transmission.append('-')
    
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[3]"):
        Fuel_type.append(i.text)
except NoSuchElementException as e:
    Fuel_type.append('-')
    
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='cvakB']"):
        Model.append(i.text)
except NoSuchElementException as e:
    Model.append('-')        
        
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_19zc5']/div[2]"):
        Price.append(i.text)
except NoSuchElementException as e:
    Price.append('-')

In [76]:
# Make a DataFrame
Car=pd.DataFrame({})
Car["Brand"] = Brand[0:3061]
Car["Owner"] = Owner[0:3061]
Car["kilometers"] = kilometers[0:3061]
Car["Fuel"] = Fuel_type[0:3061]
Car["Transmission"] = Transmission[0:3061]
Car["Model"] = Model[0:3061]
Car["Price"] = Price [0:3061]
Car

,Brand,Owner,kilometers,Fuel,Transmission,Model,Price
0,2012 Maruti Swift Dzire,1st Owner,"2,13,186 km",Diesel,Manual,VDI BS IV Manual,"₹2,63,299"
1,2012 Maruti Swift,1st Owner,"38,061 km",Diesel,Manual,VDI Manual,"₹2,92,299"
2,2012 Maruti Swift,1st Owner,"31,084 km",Diesel,Manual,VDI Manual,"₹2,82,099"
3,2012 Maruti Swift,1st Owner,"26,568 km",Diesel,Manual,VDI Manual,"₹2,89,099"
4,2017 Nissan Terrano,1st Owner,"49,610 km",Diesel,Automatic,XV PREMIUM 110 PS AMT DEISEL Automatic,"₹7,73,899"
...,...,...,...,...,...,...,...
3056,2017 Ford New Figo,1st Owner,"3,430 km",Petrol,Manual,1.6 SX (O) CRDI Manual,"₹4,72,999"
3057,2015 Hyundai Grand i10,2nd Owner,"62,491 km",Diesel,Manual,MAGNA 1.2 KAPPA2 Manual,"₹3,04,099"
3058,2016 Maruti S Cross,1st Owner,"1,17,629 km",Diesel,Manual,S7 140 BHP 2WD Manual,"₹5,55,699"
3059,2014 Maruti Swift Dzire,1st Owner,"76,013 km",Diesel,Manual,1.4 E PLUS CRDI Manual,"₹3,54,799"
3060,2017 Ford Figo Aspire,1st Owner,"31,724 km",Petrol,Manual,HTK 1.5 PETROL Manual,"₹4,73,299"

# (v) Used cars data (Mumbai)

In [77]:
driver = webdriver.Chrome(r"C:/Users/acer/Downloads/Compressed/chromedriver_win32_2/chromedriver.exe")
driver.implicitly_wait(0.5)
 
    
url = 'https://www.cars24.com/buy-used-car?sort=P&storeCityId=2378&pinId=400001'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [78]:
# 1500 time we scroll down by 10000 in order to generate more images on the website
for i in range(1500):
    driver.execute_script("window.scrollBy(0, 10000)")

In [84]:
# Extracting Brand from xpath
try:
    for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
        Brand.append(i.text)
except NoSuchElementException as e:
    Brand.append("_")
        
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[2]"):
        Owner.append(i.text)
except NoSuchElementException as e:
    Owner.append('-')
    
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[1]"):
        kilometers.append(i.text)
except NoSuchElementException as e:
    kilometers.append('-')
    
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='cvakB']/span"):
        Transmission.append(i.text)
except NoSuchElementException as e:
    Transmission.append('-')
    
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[3]"):
        Fuel_type.append(i.text)
except NoSuchElementException as e:
    Fuel_type.append('-')
    
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='cvakB']"):
        Model.append(i.text)
except NoSuchElementException as e:
    Model.append('-')        
        
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_19zc5']/div[2]"):
        Price.append(i.text)
except NoSuchElementException as e:
    Price.append('-')

In [85]:
# Make a DataFrame
Car=pd.DataFrame({})
Car["Brand"] = Brand [0:6045]
Car["Owner"] = Owner  [0:6045]
Car["kilometers"] = kilometers  [0:6045]
Car["Fuel"] = Fuel_type  [0:6045]
Car["Transmission"] = Transmission  [0:6045]
Car["Model"] = Model[0:6045]
Car["Price"] = Price [0:6045]
Car

,Brand,Owner,kilometers,Fuel,Transmission,Model,Price
0,2012 Maruti Swift Dzire,1st Owner,"2,13,186 km",Diesel,Manual,VDI BS IV Manual,"₹2,63,299"
1,2012 Maruti Swift,1st Owner,"38,061 km",Diesel,Manual,VDI Manual,"₹2,92,299"
2,2012 Maruti Swift,1st Owner,"31,084 km",Diesel,Manual,VDI Manual,"₹2,82,099"
3,2012 Maruti Swift,1st Owner,"26,568 km",Diesel,Manual,VDI Manual,"₹2,89,099"
4,2017 Nissan Terrano,1st Owner,"49,610 km",Diesel,Automatic,XV PREMIUM 110 PS AMT DEISEL Automatic,"₹7,73,899"
...,...,...,...,...,...,...,...
6040,2017 Maruti S Cross,1st Owner,"69,588 km",Diesel,Manual,VDI Manual,"₹3,44,299"
6041,2017 Hyundai Creta,2nd Owner,"69,215 km",Petrol,Manual,ERA PLUS Manual,"₹3,17,099"
6042,2015 Hyundai Elite i20,2nd Owner,"51,501 km",Petrol,Manual,VXI Manual,"₹3,33,399"
6043,2016 Maruti Baleno,1st Owner,"29,832 km",Petrol,Manual,ASTA 1.2 Manual,"₹3,63,699"
6044,2016 Maruti Baleno,1st Owner,"96,899 km",Diesel,Manual,MAGNA 1.2 KAPPA VTVT Manual,"₹4,22,299"

# (v) Used cars data (Pune)

In [86]:
driver = webdriver.Chrome(r"C:/Users/acer/Downloads/Compressed/chromedriver_win32_2/chromedriver.exe")
driver.implicitly_wait(0.5)
 
    
url = 'https://www.cars24.com/buy-used-car?sort=P&storeCityId=2423&pinId=411001'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [87]:
# 1500 time we scroll down by 10000 in order to generate more images on the website
for i in range(1500):
    driver.execute_script("window.scrollBy(0, 10000)")

In [91]:
# Extracting Brand from xpath
try:
    for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
        Brand.append(i.text)
except NoSuchElementException as e:
    Brand.append("_")
        
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[2]"):
        Owner.append(i.text)
except NoSuchElementException as e:
    Owner.append('-')
    
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[1]"):
        kilometers.append(i.text)
except NoSuchElementException as e:
    kilometers.append('-')
    
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='cvakB']/span"):
        Transmission.append(i.text)
except NoSuchElementException as e:
    Transmission.append('-')
    
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[3]"):
        Fuel_type.append(i.text)
except NoSuchElementException as e:
    Fuel_type.append('-')
    
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='cvakB']"):
        Model.append(i.text)
except NoSuchElementException as e:
    Model.append('-')        
        
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_19zc5']/div[2]"):
        Price.append(i.text)
except NoSuchElementException as e:
    Price.append('-')

In [92]:
# Make a DataFrame
Car=pd.DataFrame({})
Car["Brand"] = Brand[0:8359]  
Car["Owner"] = Owner[0:8359]    
Car["kilometers"] = kilometers[0:8359]    
Car["Fuel"] = Fuel_type[0:8359]    
Car["Transmission"] = Transmission[0:8359]    
Car["Model"] = Model[0:8359]  
Car["Price"] = Price[0:8359]   
Car

,Brand,Owner,kilometers,Fuel,Transmission,Model,Price
0,2012 Maruti Swift Dzire,1st Owner,"2,13,186 km",Diesel,Manual,VDI BS IV Manual,"₹2,63,299"
1,2012 Maruti Swift,1st Owner,"38,061 km",Diesel,Manual,VDI Manual,"₹2,92,299"
2,2012 Maruti Swift,1st Owner,"31,084 km",Diesel,Manual,VDI Manual,"₹2,82,099"
3,2012 Maruti Swift,1st Owner,"26,568 km",Diesel,Manual,VDI Manual,"₹2,89,099"
4,2017 Nissan Terrano,1st Owner,"49,610 km",Diesel,Automatic,XV PREMIUM 110 PS AMT DEISEL Automatic,"₹7,73,899"
...,...,...,...,...,...,...,...
8354,2019 Renault Kwid,1st Owner,"13,373 km",Petrol,Automatic,SPORTZ 1.4 AT VTVT Automatic,"₹11,16,399"
8355,2016 Hyundai Grand i10,1st Owner,"21,555 km",Petrol,Manual,ALPHA 1.2 K12 Manual,"₹11,79,099"
8356,2019 Hyundai Grand i10,1st Owner,"9,086 km",Petrol,Manual,VXI PLUS AGS Automatic,"₹5,24,999"
8357,2015 Maruti Wagon R 1.0,1st Owner,"26,356 km",Petrol,Manual,ZX MT I-DTEC,"₹4,62,599"
8358,2015 Maruti Wagon R 1.0,1st Owner,"19,758 km",Petrol,Manual,2.5 GX 8 STR BS IV Manual,"₹4,76,799"

# (v) Used cars data (Chennai)

In [93]:
driver = webdriver.Chrome(r"C:/Users/acer/Downloads/Compressed/chromedriver_win32_2/chromedriver.exe")
driver.implicitly_wait(0.5)
 
    
url = 'https://www.cars24.com/buy-used-car?sort=P&storeCityId=5732&pinId=600001'
driver.get(url)
driver.maximize_window()
time.sleep(2)

In [94]:
# 1500 time we scroll down by 10000 in order to generate more images on the website
for i in range(1500):
    driver.execute_script("window.scrollBy(0, 10000)")

In [98]:
# Extracting Brand from xpath
try:
    for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
        Brand.append(i.text)
except NoSuchElementException as e:
    Brand.append("_")
        
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[2]"):
        Owner.append(i.text)
except NoSuchElementException as e:
    Owner.append('-')
    
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[1]"):
        kilometers.append(i.text)
except NoSuchElementException as e:
    kilometers.append('-')
    
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='cvakB']/span"):
        Transmission.append(i.text)
except NoSuchElementException as e:
    Transmission.append('-')
    
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[3]"):
        Fuel_type.append(i.text)
except NoSuchElementException as e:
    Fuel_type.append('-')
    
# Extracting Name from xpath
try:
    for i in driver.find_elements_by_xpath("//p[@class='cvakB']"):
        Model.append(i.text)
except NoSuchElementException as e:
    Model.append('-')        
        
# Extracting colour from xpath
try:
    for i in driver.find_elements_by_xpath("//div[@class='_19zc5']/div[2]"):
        Price.append(i.text)
except NoSuchElementException as e:
    Price.append('-')

In [99]:
# Make a DataFrame
Car=pd.DataFrame({})
Car["Brand"] = Brand [0:10000]
Car["Owner"] = Owner[0:10000]
Car["kilometers"] = kilometers[0:10000]
Car["Fuel"] = Fuel_type[0:10000]
Car["Transmission"] = Transmission[0:10000]
Car["Model"] = Model[0:10000]
Car["Price"] = Price[0:10000]
Car

,Brand,Owner,kilometers,Fuel,Transmission,Model,Price
0,2012 Maruti Swift Dzire,1st Owner,"2,13,186 km",Diesel,Manual,VDI BS IV Manual,"₹2,63,299"
1,2012 Maruti Swift,1st Owner,"38,061 km",Diesel,Manual,VDI Manual,"₹2,92,299"
2,2012 Maruti Swift,1st Owner,"31,084 km",Diesel,Manual,VDI Manual,"₹2,82,099"
3,2012 Maruti Swift,1st Owner,"26,568 km",Diesel,Manual,VDI Manual,"₹2,89,099"
4,2017 Nissan Terrano,1st Owner,"49,610 km",Diesel,Automatic,XV PREMIUM 110 PS AMT DEISEL Automatic,"₹7,73,899"
...,...,...,...,...,...,...,...
9995,2018 Tata Tiago,1st Owner,"38,855 km",Petrol,Manual,VXI OPT Manual,"₹6,93,699"
9996,2016 Maruti Swift Dzire,1st Owner,"23,306 km",Petrol,Manual,5 STR WITH AC PLUSHTR Manual,"₹6,60,099"
9997,2019 Maruti Baleno,1st Owner,"20,371 km",Petrol,Manual,5 STR WITH AC PLUSHTR Manual,"₹6,60,099"
9998,2019 Maruti Baleno,1st Owner,"17,273 km",Petrol,Manual,LXI Manual,"₹4,19,999"
9999,2019 Maruti Baleno,1st Owner,"16,516 km",Petrol,Manual,5 STR WITH AC PLUSHTR Manual,"₹6,87,899"

In [100]:
# Saving the data in csv file
Car.to_csv('Car24_dataset.csv')